body {
  background-color: #282828;
}

.App {
  color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
  padding: 15px;
  text-align: center;
}

.heading {
  margin: 0 0 10px;
}

.logo {
  display: inline-block;
  vertical-align: sub;
  width: 145px;
}

h1 {
  display: inline-block;
  font-size: 32px;
  margin: 0;
  text-indent: 10px;
}

.text-field {
  border-radius: 5px;
  color: #282828;
  font-size: 10px;
  letter-spacing: 1px;
  height: 25px;
  margin-bottom: 5px;
  padding: 0 10px;
  width: 200px;
}

.submit-button {
  background-color: #FF0000;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin-left: 10px;
  text-transform: uppercase;
}

/* Table */

.table-heading,
.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-size: 20px;
}

.page-nav button,
.pagination button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.page-nav button:hover {
  color: #CCC;
}

table {
  border: none;
  margin: auto;
  width: 100%;
}

.thumbnail-link {
  display: block;
  overflow: hidden;
  height: 41px;
  width: 75px;
}

.thumbnail {
  margin: -8px 0;
  width: 100%;
}

.thumbnail:hover {
  opacity: .8;
}

thead {
  background-color: red;
}

tr {
  align-items: center;
  display: flex;
  margin: 0 -13%;
  padding: 0 15%;
}

td {
  font-weight: 300;
}

td:not(:first-child) {
  border-bottom: 1px solid #555;
  line-height: 40px;
}

th, td {
  font-size: 13px;
  min-width: 45px;
  width: 25%;
}

.pagination button {
  color: #CCC;
  font-size: 15px;
}

.pagination button:hover {
  color: white;
}
